<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="icon" type="image/x-icon" href="{{ site.baseurl }}/img/favicon.ico" />

  <!-- Stylesheets -->
  <link href="{{ site.baseurl }}/assets/stylesheets/application.css" rel="stylesheet" type='text/css'>
  <link href="{{ site.baseurl }}/assets/stylesheets/swiper.min.css" rel="stylesheet" type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,700' rel='stylesheet' type='text/css'>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="" crossorigin="anonymous">
  <script src="https://use.fontawesome.com/7729d5c7ef.js"></script>
</head>
