<nav id="desktop-nav">
  <a href="{{ site.baseurl }}/">
    <div class="icon icon--home">
      <div class="centered-content"><p>Accueil</p></div>
    </div>
  </a>
  <a href="{{ site.baseurl }}/presentation">
    <div class="icon icon--presentation">
      <div class="centered-content"><p>Présentation</p></div>
    </div>
  </a>
  <a href="{{ site.baseurl }}/services">
    <div class="icon icon--services">
      <div class="centered-content"><p>Services</p></div>
    </div>
  </a>
  <a href="{{ site.baseurl }}/galerie">
    <div class="icon icon--gallery">
      <div class="centered-content"><p>Galerie</p></div>
    </div>
  </a>
  <a href="{{ site.baseurl }}/contact">
    <div class="icon icon--contact">
      <div class="centered-content"><p>Contact</p></div>
    </div>
  </a>
</nav>

<nav id="phone-nav">
  <div id="menuToggle">
    <input type="checkbox" />
    <span></span>
    <span></span>
    <span></span>
    <ul id="menu">
      <a href="{{ site.baseurl }}/"><li>Accueil</li></a>
      <a href="{{ site.baseurl }}/presentation"><li>Présentation</li></a>
      <a href="{{ site.baseurl }}/services"><li>Services</li></a>
      <a href="{{ site.baseurl }}/galerie"><li>Galerie</li></a>
      <a href="{{ site.baseurl }}/contact"><li>Contact</li></a>
    </ul>
  </div>
</nav>
