@font-face {
  font-family: 'Brushsci';
  src: url("../fonts/BRUSHSCI.ttf") format("truetype"); }

@font-face {
  font-family: 'kirnberg';
  src: url("../fonts/kirnberg.ttf") format("truetype"); }

@font-face {
  font-family: 'fertigo';
  src: url("../fonts/fertigo.ttf") format("truetype"), url("../fonts/fertigo.woff") format("woff"), url("../fonts/fertigo.eot?#iefix") format("eot"); }

@font-face {
  font-family: 'DymaxionScript';
  src: url("../fonts/DymaxionScript.ttf") format("truetype"), url("../fonts/DymaxionScript.woff") format("woff"); }

@font-face {
  font-family: 'blackjack';
  src: url("../fonts/blackjack.ttf") format("truetype"), url("../fonts/blackjack.woff") format("woff"), url("../fonts/blackjack.eot?#iefix") format("eot"); }

/**
 * Reset some basic elements
 */
html, body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0; }

html {
  height: 100%; }

body {
  min-height: 100%; }

a,
a:active,
a:hover,
a:link
a:visited {
  color: #404040;
  text-decoration: none; }

input[type=text],
input[type=email],
input[type=tel],
input[type=url],
input[type=search] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border: 1px solid #ccc; }

.centered-content {
  left: 50%;
  position: absolute; }

.centered-crop-image {
  position: absolute;
  left: -100%;
  right: -100%;
  top: -100%;
  bottom: -100%;
  margin: auto;
  min-height: 100%;
  min-width: 100%; }

.place-card.place-card-large {
  display: none; }

.homepage__title {
  color: #ececec;
  font-family: "Brushsci";
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  font-size: 45px;
  text-align: center;
  letter-spacing: 3px;
  font-style: italic;
  text-transform: uppercase;
  position: relative;
  white-space: nowrap;
  left: -50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2; }
  @media screen and (max-width: 768px) {
    .homepage__title {
      display: block;
      font-size: 35px;
      left: -30%; } }
  @media screen and (max-width: 374px) {
    .homepage__title {
      font-size: 30px; } }
  .homepage__title span {
    color: #ff8900;
    white-space: nowrap; }
    @media screen and (max-width: 768px) {
      .homepage__title span {
        position: absolute;
        left: -38%; } }
  .homepage__title br {
    display: none; }
    @media screen and (max-width: 768px) {
      .homepage__title br {
        display: block; } }

#homepage {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../images/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: calc(100%);
  overflow: hidden;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  #homepage > .centered-content {
    top: 153px; }
    @media screen and (max-width: 768px) {
      #homepage > .centered-content {
        top: 18%; } }

.homepage__text-intro {
  color: rgba(255, 255, 255, 0.9);
  position: absolute;
  left: 50px;
  bottom: 60px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: 2px; }
  @media screen and (max-width: 768px) {
    .homepage__text-intro {
      font-size: 18px;
      line-height: 25px;
      left: 35px;
      bottom: 50px; } }
  @media screen and (max-width: 374px) {
    .homepage__text-intro {
      font-size: 15px;
      line-height: 25px;
      left: 25px;
      bottom: 30px; } }
  .homepage__text-intro span {
    color: #ff8900;
    font-size: 40px;
    font-family: 'Brushsci', 'kirnberg', cursive;
    line-height: 50px;
    letter-spacing: 0;
    margin-top: 5px;
    display: block; }
    @media screen and (max-width: 768px) {
      .homepage__text-intro span {
        font-size: 22px;
        line-height: 28px; } }
    @media screen and (max-width: 374px) {
      .homepage__text-intro span {
        font-size: 22px;
        line-height: 28px; } }

#logo__phone {
  display: none;
  width: 200px;
  left: -50%;
  position: relative;
  top: 20px;
  margin: auto; }
  @media screen and (max-width: 768px) {
    #logo__phone {
      display: block; } }

.kpis-banner {
  background-image: url(../images/car-banner.jpg);
  height: 520px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 65%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  box-sizing: border-box;
  padding-top: 60px; }
  @media screen and (max-width: 768px) {
    .kpis-banner {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      height: 400px;
      padding-bottom: 60px; } }

.kpis-banner__kpi-bubble {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 3px solid rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  height: 150px;
  width: 150px;
  margin: 50px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-image: url("../images/cadran-trans.png");
  background-size: contain; }
  @media screen and (max-width: 768px) {
    .kpis-banner__kpi-bubble {
      height: 115px;
      width: 115px;
      margin: 15px; } }

.kpis-banner__kpi-number {
  font-family: "Open Sans", sans-serif;
  font-size: 35px;
  color: white;
  text-align: center; }
  @media screen and (max-width: 768px) {
    .kpis-banner__kpi-number {
      font-size: 25px; } }

.kpis-banner__kpi-line {
  border-bottom: 2px solid #ff8900;
  margin: 15px;
  width: 40px; }
  @media screen and (max-width: 768px) {
    .kpis-banner__kpi-line {
      width: 30px;
      margin: 10px; } }

.kpis-banner__kpi-text {
  color: rgba(255, 255, 255, 0.8);
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  height: 20px;
  text-align: center;
  margin-bottom: 10px; }
  @media screen and (max-width: 768px) {
    .kpis-banner__kpi-text {
      font-size: 10px; } }

.block-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'Lato', sans-serif; }
  @media screen and (max-width: 768px) {
    .block-about {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }

.block-about__left,
.block-about__right {
  width: 50%;
  box-sizing: border-box; }
  @media screen and (max-width: 768px) {
    .block-about__left,
    .block-about__right {
      width: 100%; } }

.block-about__left {
  padding: 80px 70px 80px 50px;
  max-width: 800px; }
  @media screen and (max-width: 768px) {
    .block-about__left {
      padding: 60px 35px 60px 15px; } }

@media screen and (max-width: 768px) {
  .block-about__right {
    height: 400px; } }

.block-about__image {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative; }

.block-about__titles {
  border-left: 3px solid #ff8900;
  padding-left: 20px;
  margin-bottom: 15px; }

.block-about__title {
  font-weight: 700;
  font-style: normal;
  font-family: 'Lato', sans-serif;
  color: #001d70;
  font-size: 30px;
  line-height: 1.3;
  letter-spacing: 0px;
  margin-bottom: 5px; }

.block-about__subtitle {
  font-weight: 400;
  font-style: normal;
  font-family: 'Lato', sans-serif;
  color: #868b97;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0px; }
  @media screen and (max-width: 768px) {
    .block-about__subtitle {
      font-size: 16px; } }

.block-about__description {
  font-weight: 400;
  font-style: normal;
  font-family: 'Lato', sans-serif;
  color: #001d70;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0px;
  padding-top: 10px;
  margin-left: 22px;
  text-align: justify; }
  @media screen and (max-width: 768px) {
    .block-about__description {
      font-size: 15px; } }

.block-team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Lato', sans-serif;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #eaeaea;
  padding: 80px; }
  @media screen and (max-width: 768px) {
    .block-team {
      padding: 60px 35px; } }

.block-team__titles {
  margin-bottom: 70px; }
  @media screen and (max-width: 768px) {
    .block-team__titles {
      margin-bottom: 50px; } }

.block-team__title {
  font-weight: 700;
  font-style: normal;
  font-family: 'Lato', sans-serif;
  color: #001d70;
  font-size: 30px;
  line-height: 1.3;
  letter-spacing: 0px; }

.block-team__separator {
  width: 100px;
  border-bottom: 3px solid #ff8900;
  margin: 15px auto; }

.block-team__subtitle {
  font-weight: 400;
  font-style: normal;
  font-family: 'Lato', sans-serif;
  color: #868b97;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0px; }
  @media screen and (max-width: 768px) {
    .block-team__subtitle {
      font-size: 16px; } }

.block-team__person-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 768px) {
    .block-team__person-blocks {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }

.block-team__person-block {
  width: 250px;
  margin: 0 30px; }
  @media screen and (orientation: landscape) and (min-device-width: 768px) and (max-device-width: 1024px) {
    .block-team__person-block {
      width: 200px;
      margin: 0 20px; } }
  @media screen and (max-width: 768px) {
    .block-team__person-block {
      margin-bottom: 50px; } }

.person-block__image {
  width: 100%;
  height: 250px;
  overflow: hidden;
  position: relative; }

.person-block__name {
  font-weight: 400;
  font-style: normal;
  font-family: 'Montserrat', sans-serif;
  color: #001d70;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 20px; }

.person-block__job {
  font-weight: 400;
  font-style: normal;
  font-family: 'Montserrat', sans-serif;
  color: #ff8900;
  font-size: 14px;
  line-height: 1.6;
  letter-spacing: 0px; }

.person-block__description {
  font-weight: 400;
  font-style: normal;
  font-family: 'Lato', sans-serif;
  color: #737373;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0px;
  margin-top: 10px; }

.body-services__image {
  position: relative;
  overflow: hidden;
  height: 550px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media screen and (max-width: 768px) {
    .body-services__image {
      height: 280px; } }

.body-services__titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 2; }
  @media screen and (max-width: 768px) {
    .body-services__titles {
      max-width: 80%; } }

.body-services__title {
  font-family: 'Lato', sans-serif;
  color: #ffffff;
  font-size: 50px;
  line-height: 1.2;
  font-weight: 400;
  padding-left: 30px;
  border-left: 3px solid #ff8900; }
  @media screen and (max-width: 768px) {
    .body-services__title {
      font-size: 40px; } }
  @media screen and (max-width: 374px) {
    .body-services__title {
      font-size: 38px; } }

.body-services__subtitle {
  font-weight: 400;
  font-style: normal;
  font-family: 'Lato', sans-serif;
  color: #ffffff;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 4px;
  text-transform: uppercase;
  padding-left: 33px; }
  @media screen and (max-width: 768px) {
    .body-services__subtitle {
      font-size: 12px; } }

.block-service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 768px) {
    .block-service {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }

@media screen and (max-width: 768px) {
  .block-service--reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse; } }

.block-service__left,
.block-service__right {
  width: 50%;
  box-sizing: border-box; }
  @media screen and (max-width: 768px) {
    .block-service__left,
    .block-service__right {
      width: 100%; } }

.block-service__image {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%; }

.block-service__right {
  padding: 50px;
  min-height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media screen and (max-width: 768px) {
    .block-service__right {
      padding: 35px; } }

.block-service__left {
  height: 400px; }

.block-service__title {
  font-weight: 700;
  font-style: normal;
  font-family: 'Lato', sans-serif;
  color: #001d70;
  font-size: 30px;
  line-height: 1.3;
  letter-spacing: 0px;
  text-align: center; }

.block-service__separator {
  width: 100px;
  border-bottom: 3px solid #ff8900;
  margin: 40px auto; }

.block-service__text {
  font-weight: 400;
  font-style: normal;
  font-family: 'Lato', sans-serif;
  color: #868b97;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0px;
  text-align: center;
  max-width: 100%; }
  @media screen and (max-width: 768px) {
    .block-service__text {
      font-size: 16px;
      text-align: justify; } }

#gallery {
  padding-top: 120px;
  background: #f5f5f5; }
  @media screen and (max-width: 768px) {
    #gallery {
      padding-top: 50px; } }

.gallery__wrapper {
  -webkit-column-count: 4;
     -moz-column-count: 4;
          column-count: 4;
  -webkit-column-gap: 1rem;
     -moz-column-gap: 1rem;
          column-gap: 1rem;
  margin: 1rem;
  margin-bottom: 0; }
  @media screen and (max-width: 768px) {
    .gallery__wrapper {
      -webkit-column-count: 2;
         -moz-column-count: 2;
              column-count: 2;
      -webkit-column-gap: 0.5rem;
         -moz-column-gap: 0.5rem;
              column-gap: 0.5rem;
      margin: 0.5rem;
      margin-bottom: 0; } }

.gallery__item {
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease; }
  .gallery__item:hover {
    cursor: pointer; }

.scale-anm {
  -webkit-transform: scale(1);
          transform: scale(1); }

.gallery__item img {
  max-width: 100%;
  width: 100%;
  height: auto;
  margin-bottom: 1rem; }
  @media screen and (max-width: 768px) {
    .gallery__item img {
      margin-bottom: 0.5rem; } }

.gallery__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 50px; }
  @media screen and (max-width: 768px) {
    .gallery__buttons {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      margin: 30px 0 20px 0; } }

.gallery__button {
  background: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: none;
  cursor: pointer;
  border: none;
  -webkit-appearance: none;
  color: #5a6fb5;
  margin: 0 12px;
  padding: 0 0 5px 0; }
  @media screen and (max-width: 768px) {
    .gallery__button {
      font-size: 0.8rem;
      margin: 0 10px;
      margin-bottom: 10px; } }
  .gallery__button.active {
    border-bottom: 3px solid #ff8900; }

.gallery__button:hover {
  text-decoration: none; }

.gallery__button:focus {
  outline: none;
  border-color: var(--darken-2);
  box-shadow: 0 0 0 3px var(--darken-3); }

::-moz-focus-inner {
  border: 0;
  padding: 0; }

#body-contact {
  height: 100%; }

#contact-container {
  height: calc(100% - 66px - 85px);
  width: 100%;
  padding-top: 66px; }
  @media screen and (max-width: 768px) {
    #contact-container {
      height: calc(100% - 66px); } }

.mapouter {
  opacity: .5; }
  @media screen and (max-width: 768px) {
    .mapouter {
      opacity: .8; } }

.block-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 300px;
  top: 260px;
  left: 100px;
  position: absolute;
  padding: 20px;
  background-color: #fafafa;
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.5);
  z-index: 10; }
  @media screen and (max-width: 768px) {
    .block-form {
      width: 95%;
      left: 2.5%;
      box-sizing: border-box;
      top: auto;
      bottom: 10px; } }

.block-form__title {
  font-weight: 700;
  font-style: normal;
  font-family: 'Lato', sans-serif;
  color: #001d70;
  font-size: 30px;
  line-height: 1.3;
  letter-spacing: 0px;
  text-align: center; }

.block-form__separator {
  width: 100px;
  border-bottom: 3px solid #ff8900;
  margin: 15px auto; }

.block-form__input {
  font-family: 'Lato', sans-serif;
  padding: 10px;
  margin: 5px;
  resize: none;
  border: 1px solid #ccc;
  font-size: 10px; }
  .block-form__input:focus {
    outline-color: #ff8900; }

.block-form__input--textarea {
  height: 100px; }
  @media screen and (max-width: 768px) {
    .block-form__input--textarea {
      height: 70px; } }

.block-form__button {
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  color: white;
  font-size: 10px;
  letter-spacing: 1px;
  background: #ff8900;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  border: none; }
  .block-form__button:focus {
    outline-color: #ff8900; }

#homepage nav#desktop-nav {
  top: 200px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  background: -webkit-linear-gradient(right, transparent, rgba(255, 255, 255, 0.5), transparent);
  background: linear-gradient(to left, transparent, rgba(255, 255, 255, 0.5), transparent);
  height: auto; }

#homepage #nav__logo {
  height: 150px; }

#nav__logo {
  height: 70px;
  left: 0px;
  margin: 10px 20px;
  width: auto; }

nav#desktop-nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  margin: 0 auto;
  border-bottom: 1px solid #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(255, 255, 255, 0.9);
  z-index: 10;
  height: 66px; }
  @media screen and (max-width: 768px) {
    nav#desktop-nav {
      display: none; } }
  nav#desktop-nav ul#homepage__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    height: 80px;
    top: 60px; }

nav#phone-nav {
  position: fixed;
  top: 0;
  left: 0; }

#homepage .icon {
  background-image: url("../images/icons/settings.svg");
  width: 60px;
  height: 60px; }
  #homepage .icon:hover {
    background-image: url("../images/icons/settings-orange.svg"); }
  #homepage .icon p {
    color: white;
    top: 105%;
    font-size: 12.5px; }

#homepage .icon--contact {
  background-image: url("../images/icons/contact.svg"); }
  #homepage .icon--contact:hover {
    background-image: url("../images/icons/contact-orange.svg"); }

#homepage .icon--gallery {
  background-image: url("../images/icons/photo.svg"); }
  #homepage .icon--gallery:hover {
    background-image: url("../images/icons/photo-orange.svg"); }

#homepage .icon--presentation {
  background-image: url("../images/icons/user.svg"); }
  #homepage .icon--presentation:hover {
    background-image: url("../images/icons/user-orange.svg"); }

.icon {
  background-image: url("../images/icons/settings-orange.svg");
  background-position: center;
  background-size: 70%;
  background-repeat: no-repeat;
  border: 2px solid #ff8900;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  -webkit-transition: all .3s;
  transition: all .3s;
  opacity: 1;
  margin: 10px 20px;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .icon .centered-content {
    top: 100%; }
  .icon p {
    left: -50%;
    position: relative;
    opacity: 0;
    -webkit-transition: all .3s;
    transition: all .3s;
    font-size: 10px;
    font-family: "Open Sans";
    text-transform: uppercase;
    color: #5a6fb5; }
  .icon:hover {
    cursor: pointer; }
    .icon:hover p {
      opacity: 1;
      -webkit-transition: all .3s;
      transition: all .3s; }
  .icon::after {
    opacity: 0;
    -webkit-transition: all .3s;
    transition: all .3s;
    content: "services";
    position: absolute;
    top: 102%;
    font-size: 10px;
    font-family: "Open Sans";
    text-transform: uppercase;
    color: #5a6fb5; }

.icon--contact {
  background-image: url("../images/icons/contact-orange.svg"); }

.icon--gallery {
  background-image: url("../images/icons/photo-orange.svg"); }

.icon--presentation {
  background-image: url("../images/icons/user-orange.svg"); }

.icon--home {
  background-image: url("../images/icons/logo-black.svg");
  background-size: 90%;
  border-color: #5a6fb5; }

nav#phone-nav {
  display: none;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 30; }
  @media screen and (max-width: 768px) {
    nav#phone-nav {
      display: block; } }

#menuToggle {
  display: block;
  position: relative;
  top: 22px;
  left: 20px;
  z-index: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  width: 35px; }
  #menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 10;
    -webkit-touch-callout: none; }
  #menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #cdcdcd;
    border-radius: 3px;
    z-index: 1;
    -webkit-transform-origin: 4px 0px;
            transform-origin: 4px 0px;
    -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1); }
    #menuToggle span:first-child {
      -webkit-transform-origin: 0% 0%;
              transform-origin: 0% 0%; }
    #menuToggle span:nth-last-child(2) {
      -webkit-transform-origin: 0% 100%;
              transform-origin: 0% 100%; }
  #menuToggle input:checked ~ span {
    opacity: 1;
    -webkit-transform: rotate(45deg) translate(-2px, -1px);
            transform: rotate(45deg) translate(-2px, -1px);
    background: #232323; }
  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    -webkit-transform: rotate(0deg) scale(0.2, 0.2);
            transform: rotate(0deg) scale(0.2, 0.2); }
  #menuToggle input:checked ~ span:nth-last-child(2) {
    -webkit-transform: rotate(-45deg) translate(0, -1px);
            transform: rotate(-45deg) translate(0, -1px); }
  #menuToggle input:checked ~ ul {
    -webkit-transform: none;
            transform: none; }

#menu {
  position: fixed;
  width: 100%;
  margin: -100px 0 0 -50px;
  padding: 115px 50px 20px 50px;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.5); }
  #menu li {
    margin: 10px 0;
    padding-left: 10px;
    font-size: 18px;
    font-family: "Open Sans";
    border-left: 2px solid #ff8900; }
    #menu li:focus, #menu li:active {
      background: transparent; }

footer {
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 85px;
  background-color: #2a2a2a;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative; }
  @media screen and (max-width: 768px) {
    footer {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      height: 170px; } }

.footer-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 20px;
  width: 260px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  @media screen and (max-width: 768px) {
    .footer-link {
      width: auto;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      margin: 8px 20px; } }
  .footer-link .fa {
    color: #a6a6a6;
    font-size: 20px;
    width: 25px; }
  .footer-link p {
    color: #ff8900;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    margin-left: 15px; }

#signature {
  color: #a6a6a6;
  position: absolute;
  bottom: 0;
  right: 2px;
  font-family: 'Lato', sans-serif;
  font-size: 11px; }
  #signature a {
    color: #ff8900; }
