@font-face {
  font-family: 'Brushsci';
  src: url("../fonts/BRUSHSCI.ttf") format("truetype"); }

@font-face {
  font-family: 'kirnberg';
  src: url("../fonts/kirnberg.ttf") format("truetype"); }

@font-face {
  font-family: 'fertigo';
  src: url("../fonts/fertigo.ttf") format("truetype"), url("../fonts/fertigo.woff") format("woff"), url("../fonts/fertigo.eot?#iefix") format("eot"); }

@font-face {
  font-family: 'DymaxionScript';
  src: url("../fonts/DymaxionScript.ttf") format("truetype"), url("../fonts/DymaxionScript.woff") format("woff"); }

@font-face {
  font-family: 'blackjack';
  src: url("../fonts/blackjack.ttf") format("truetype"), url("../fonts/blackjack.woff") format("woff"), url("../fonts/blackjack.eot?#iefix") format("eot"); }

/**
 * Reset some basic elements
 */
html, body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0; }

a,
a:active,
a:hover,
a:link
a:visited {
  color: #404040;
  text-decoration: none; }

.centered-content {
  left: 50%;
  position: absolute; }

.centered-crop-image {
  position: absolute;
  left: -100%;
  right: -100%;
  top: -100%;
  bottom: -100%;
  margin: auto;
  min-height: 100%;
  min-width: 100%; }

.homepage__title {
  color: #ececec;
  font-family: "Brushsci";
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  font-size: 45px;
  text-align: center;
  letter-spacing: 3px;
  font-style: italic;
  text-transform: uppercase;
  position: relative;
  white-space: nowrap;
  left: -50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2; }
  .homepage__title span {
    color: #ff8900;
    white-space: nowrap; }

#homepage {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../images/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: calc(100%);
  overflow: hidden;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  #homepage > .centered-content {
    top: 153px; }

.homepage__text-intro {
  color: rgba(255, 255, 255, 0.9);
  position: absolute;
  left: 50px;
  bottom: 60px;
  font-family: 'kirnberg', cursive;
  font-weight: 100;
  font-size: 75px;
  line-height: 50px;
  letter-spacing: 2px; }
  .homepage__text-intro span {
    color: #ff8900;
    font-size: 50px;
    font-family: 'kirnberg', cursive;
    line-height: 50px;
    letter-spacing: 0; }

#gallery {
  padding-top: 120px;
  background: #f5f5f5; }

.gallery__wrapper {
  -webkit-column-count: 4;
     -moz-column-count: 4;
          column-count: 4;
  -webkit-column-gap: 1rem;
     -moz-column-gap: 1rem;
          column-gap: 1rem;
  margin: 1rem;
  margin-bottom: 0; }
  @media screen and (max-width: 768px) {
    .gallery__wrapper {
      -webkit-column-count: 2;
         -moz-column-count: 2;
              column-count: 2;
      -webkit-column-gap: 0.5rem;
         -moz-column-gap: 0.5rem;
              column-gap: 0.5rem;
      margin: 0.5rem;
      margin-bottom: 0; } }

.gallery__item {
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease; }
  .gallery__item:hover {
    cursor: pointer; }

.scale-anm {
  -webkit-transform: scale(1);
          transform: scale(1); }

.gallery__item img {
  max-width: 100%;
  width: 100%;
  height: auto;
  margin-bottom: 1rem; }
  @media screen and (max-width: 768px) {
    .gallery__item img {
      margin-bottom: 0.5rem; } }

.gallery__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 50px; }
  @media screen and (max-width: 768px) {
    .gallery__buttons {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      margin: 30px 0 20px 0; } }

.gallery__button {
  background: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: none;
  cursor: pointer;
  border: none;
  -webkit-appearance: none;
  color: #5a6fb5;
  margin: 0 12px;
  padding: 0 0 5px 0; }
  @media screen and (max-width: 768px) {
    .gallery__button {
      font-size: 0.8rem;
      margin: 0 10px;
      margin-bottom: 10px; } }
  .gallery__button.active {
    border-bottom: 3px solid #ff8900; }

.gallery__button:hover {
  text-decoration: none; }

.gallery__button:focus {
  outline: none;
  border-color: var(--darken-2);
  box-shadow: 0 0 0 3px var(--darken-3); }

::-moz-focus-inner {
  border: 0;
  padding: 0; }

.kpis-banner {
  background-image: url(../images/car-banner.jpg);
  height: 520px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 65%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  box-sizing: border-box;
  padding-top: 60px; }

.kpis-banner__kpi-bubble {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 3px solid rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  height: 150px;
  width: 150px;
  margin: 50px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-image: url("../images/cadran-trans.png");
  background-size: contain; }

.kpis-banner__kpi-number {
  font-family: "Open Sans", sans-serif;
  font-size: 35px;
  color: white;
  text-align: center; }

.kpis-banner__kpi-line {
  border-bottom: 2px solid #ff8900;
  margin: 15px;
  width: 40px; }

.kpis-banner__kpi-text {
  color: rgba(255, 255, 255, 0.8);
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  height: 20px;
  text-align: center;
  margin-bottom: 10px; }

.block-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'Lato', sans-serif; }

.block-about__left,
.block-about__right {
  width: 50%;
  box-sizing: border-box; }

.block-about__left {
  padding: 50px 70px 50px 50px;
  max-width: 800px; }

.block-about__image {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative; }

.block-about__titles {
  border-left: 3px solid #ff8900;
  padding-left: 20px;
  margin-bottom: 15px; }

.block-about__title {
  font-weight: 700;
  font-style: normal;
  font-family: 'Lato', sans-serif;
  color: #001d70;
  font-size: 30px;
  line-height: 1.3;
  letter-spacing: 0px;
  margin-bottom: 5px; }

.block-about__subtitle {
  font-weight: 400;
  font-style: normal;
  font-family: 'Lato', sans-serif;
  color: #868b97;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0px; }

.block-about__description {
  font-weight: 400;
  font-style: normal;
  font-family: 'Lato', sans-serif;
  color: #001d70;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0px;
  padding-top: 10px;
  margin-left: 22px;
  text-align: justify; }

.block-team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Lato', sans-serif;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #eaeaea;
  padding: 80px; }

.block-team__titles {
  margin-bottom: 70px; }

.block-team__title {
  font-weight: 700;
  font-style: normal;
  font-family: 'Lato', sans-serif;
  color: #001d70;
  font-size: 30px;
  line-height: 1.3;
  letter-spacing: 0px; }

.block-team__separator {
  width: 100px;
  border-bottom: 3px solid #ff8900;
  margin: 15px auto; }

.block-team__subtitle {
  font-weight: 400;
  font-style: normal;
  font-family: 'Lato', sans-serif;
  color: #868b97;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0px; }

.block-team__person-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.block-team__person-block {
  width: 250px;
  margin: 0 30px; }

.person-block__image {
  width: 100%;
  height: 250px;
  overflow: hidden;
  position: relative; }

.person-block__name {
  font-weight: 400;
  font-style: normal;
  font-family: 'Montserrat', sans-serif;
  color: #001d70;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 20px; }

.person-block__job {
  font-weight: 400;
  font-style: normal;
  font-family: 'Montserrat', sans-serif;
  color: #ff8900;
  font-size: 14px;
  line-height: 1.6;
  letter-spacing: 0px; }

.person-block__description {
  font-weight: 400;
  font-style: normal;
  font-family: 'Lato', sans-serif;
  color: #737373;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0px;
  margin-top: 10px; }

#homepage nav {
  top: 200px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  background: -webkit-linear-gradient(right, transparent, rgba(255, 255, 255, 0.5), transparent);
  background: linear-gradient(to left, transparent, rgba(255, 255, 255, 0.5), transparent); }

#homepage #nav__logo {
  height: 150px; }

#nav__logo {
  height: 70px;
  left: 0px;
  margin: 10px 20px;
  width: auto; }

nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  margin: 0 auto;
  border-bottom: 1px solid #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(255, 255, 255, 0.9);
  z-index: 10; }
  nav ul#homepage__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    height: 80px;
    top: 60px; }

#homepage .icon {
  background-image: url("../images/icons/settings.svg");
  width: 60px;
  height: 60px; }
  #homepage .icon:hover {
    background-image: url("../images/icons/settings-orange.svg"); }
  #homepage .icon p {
    color: white;
    top: 105%;
    font-size: 12.5px; }

#homepage .icon--contact {
  background-image: url("../images/icons/contact.svg"); }
  #homepage .icon--contact:hover {
    background-image: url("../images/icons/contact-orange.svg"); }

#homepage .icon--gallery {
  background-image: url("../images/icons/photo.svg"); }
  #homepage .icon--gallery:hover {
    background-image: url("../images/icons/photo-orange.svg"); }

#homepage .icon--presentation {
  background-image: url("../images/icons/user.svg"); }
  #homepage .icon--presentation:hover {
    background-image: url("../images/icons/user-orange.svg"); }

.icon {
  background-image: url("../images/icons/settings-orange.svg");
  background-position: center;
  background-size: 70%;
  background-repeat: no-repeat;
  border: 2px solid #ff8900;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  -webkit-transition: all .3s;
  transition: all .3s;
  opacity: 1;
  margin: 10px 20px;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .icon .centered-content {
    top: 100%; }
  .icon p {
    left: -50%;
    position: relative;
    opacity: 0;
    -webkit-transition: all .3s;
    transition: all .3s;
    font-size: 10px;
    font-family: "Open Sans";
    text-transform: uppercase;
    color: #5a6fb5; }
  .icon:hover {
    cursor: pointer; }
    .icon:hover p {
      opacity: 1;
      -webkit-transition: all .3s;
      transition: all .3s; }
  .icon::after {
    opacity: 0;
    -webkit-transition: all .3s;
    transition: all .3s;
    content: "services";
    position: absolute;
    top: 102%;
    font-size: 10px;
    font-family: "Open Sans";
    text-transform: uppercase;
    color: #5a6fb5; }

.icon--contact {
  background-image: url("../images/icons/contact-orange.svg"); }

.icon--gallery {
  background-image: url("../images/icons/photo-orange.svg"); }

.icon--presentation {
  background-image: url("../images/icons/user-orange.svg"); }

.icon--home {
  background-image: url("../images/icons/logo-black.svg");
  background-size: 90%;
  border-color: #5a6fb5; }

footer {
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 25px 40px;
  background-color: #2a2a2a;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative; }

.footer-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 20px;
  width: 260px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .footer-link .fa {
    color: #a6a6a6;
    font-size: 20px; }
  .footer-link p {
    color: #ff8900;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    margin-left: 15px; }

#signature {
  color: #a6a6a6;
  position: absolute;
  bottom: 0;
  right: 2px;
  font-family: 'Lato', sans-serif;
  font-size: 11px; }
  #signature a {
    color: #ff8900; }
