<!DOCTYPE html>
<html>

  {% include head.html %}

  {% include nav.html %}

  <body id="body-contact">

    <div id="contact-container">

      <div class="mapouter"><div class="gmap_canvas"><iframe width="100%" height="100%" id="gmap_canvas" src="https://maps.google.com/maps?q=2799 Avenue Président John Kennedy, 83140 Six-Fours-les-Plages&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.webdesign-muenchen-pb.de"></a></div><style>.mapouter{text-align:right;height:100%;width:100%;}.gmap_canvas {overflow:hidden;background:none!important;height:100%;width:100%;}</style></div>

      <form class="block-form" method="POST" action="https://formspree.io/europeauto83@free.fr">
        <h3 class="block-form__title">Nous contacter</h3>
        <div class="block-form__separator"></div>
        <input class="block-form__input" type="text" name="name" placeholder="Your name" autocomplete="password">
        <input class="block-form__input" type="email" name="email" placeholder="Your email" autocomplete="nope">
        <textarea class="block-form__input block-form__input--textarea" type="text" name="message" placeholder="Your message" autocomplete="off"></textarea>
        <button class="block-form__button" type="submit">Envoyer</button>
      </form>
    </div>

    {% include footer.html %}

    {% include script.html %}

  </body>

</html>
