<!DOCTYPE html>
<html>

  {% include head.html %}

  {% include nav.html %}

  <body id="body-gallery">

    <div id="gallery">

      <div class="gallery__buttons">
        <button class="gallery__button" href="" data-rel="all">All</button>
        <button class="gallery__button" data-rel="classic-cars">Classic Cars</button>
        <button class="gallery__button" data-rel="super-cars">Super Cars</button>
      </div>

      <div class="gallery__wrapper">
      </div>

    </div>

    {% include footer.html %}

  </body>

</html>
