<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>



    <div id="homepage">



      <!-- <nav>
        <img id="homepage__logo" src="{{ baseurl }}/img/logo-europ-auto-phare.png">
        <ul id="homepage__nav">
          <li class="nav__home"><a href="/">Accueil</a></li>
          <li class="nav__about"><a href="/presentation">Présentation</a></li>
          <li class="nav__services"><a href="/services">Services</a></li>
          <li class="nav__skills"><a href="/galerie">Galerie</a></li>
          <li class="nav__portfolio"><a href="/contact">Contact</a></li>
        </ul>
      </nav> -->
      <nav>
        <div class="centered-content">
          <h1 class="homepage__title"><span>Europe Auto</span>&nbsp;Carrosserie</h1>
        </div>
        <a href="{{ site.baseurl }}/presentation">
          <div class="icon icon--presentation">
            <div class="centered-content"><p>présentation</p></div>
          </div>
        </a>
        <a href="{{ site.baseurl }}/services">
          <div class="icon icon--services">
            <div class="centered-content"><p>services</p></div>
          </div>
        </a>
        <a href="{{ site.baseurl }}">
          <img id="nav__logo" src="{{ site.baseurl }}/assets/images/Logo-europ-auto-phare-vis.png">
        </a>
        <a href="{{ site.baseurl }}/galerie">
          <div class="icon icon--gallery">
            <div class="centered-content"><p>galerie</p></div>
          </div>
        </a>
        <a href="{{ site.baseurl }}/contact">
          <div class="icon icon--contact">
            <div class="centered-content"><p>contact</p></div>
          </div>
        </a>
      </nav>

      <h2 class="homepage__text-intro">Passion,<br>savoir-faire,<br>métier depuis plus de 30 ans...<br><span>By Bielli</span></h2>

    </div>

    {% include footer.html %}

  </body>

</html>
