<!DOCTYPE html>
<html>

  {% include head.html %}

  {% include nav.html %}

  <body id="body-presentation">

    <div class="kpis-banner">
      <div class="kpis-banner__kpi-bubble">
        <p class="kpis-banner__kpi-number">30</p>
        <div class="kpis-banner__kpi-line"></div>
        <p class="kpis-banner__kpi-text">Années d'expérience</p>
      </div>
      <div class="kpis-banner__kpi-bubble">
        <p class="kpis-banner__kpi-number">1755</p>
        <div class="kpis-banner__kpi-line"></div>
        <p class="kpis-banner__kpi-text">Clients satisfaits</p>
      </div>
      <div class="kpis-banner__kpi-bubble">
        <p class="kpis-banner__kpi-number">18</p>
        <div class="kpis-banner__kpi-line"></div>
        <p class="kpis-banner__kpi-text">Techniciens</p>
      </div>
      <div class="kpis-banner__kpi-bubble">
        <p class="kpis-banner__kpi-number">80</p>
        <div class="kpis-banner__kpi-line"></div>
        <p class="kpis-banner__kpi-text">Voitures réparées<br>chaque mois</p>
      </div>
    </div>

    <!-- <div style="position:absolute; display:flex; height:100%; width:100%; justify-content:center; align-items:center; font-size:20px; font-family:sans-serif">PAGE EN COURS DE CONSTRUCTION...</div> -->

  </body>

</html>
