<!DOCTYPE html>
<html>

  {% include head.html %}

  {% include nav.html %}

  <body id="body-presentation">

    <div class="kpis-banner">
      <div class="kpis-banner__kpi-bubble">
        <p class="kpis-banner__kpi-number">30</p>
        <div class="kpis-banner__kpi-line"></div>
        <p class="kpis-banner__kpi-text">Années d'expérience</p>
      </div>
      <div class="kpis-banner__kpi-bubble">
        <p class="kpis-banner__kpi-number">1755</p>
        <div class="kpis-banner__kpi-line"></div>
        <p class="kpis-banner__kpi-text">Clients satisfaits</p>
      </div>
      <div class="kpis-banner__kpi-bubble">
        <p class="kpis-banner__kpi-number">18</p>
        <div class="kpis-banner__kpi-line"></div>
        <p class="kpis-banner__kpi-text">Techniciens</p>
      </div>
      <div class="kpis-banner__kpi-bubble">
        <p class="kpis-banner__kpi-number">80</p>
        <div class="kpis-banner__kpi-line"></div>
        <p class="kpis-banner__kpi-text">Voitures réparées<br>chaque mois</p>
      </div>
    </div>

    <div class="block-about">
      <div class="block-about__left">
        <div class="block-about__titles">
          <h1 class="block-about__title">A propos</h1>
          <h2 class="block-about__subtitle">L'histoire d'Europe Auto Carrosserie.</h2>
        </div>
        <p class="block-about__description">
          Doté de plus de 30 années d’expérience dans un métier évolutif, Thierry BIELLI a su développer des compétences et une rare maitrise dans la restauration de véhicules.
        <p class="block-about__description">
          Situé dans le département du var (83), Thierry BIELLI, tôlier formeur de métier, répare des véhicules d’exceptions et de légendes comme à l’identique.
        </p>
        <p class="block-about__description">
          La carrosserie Europe Auto réalise des restaurations partielles ou complètes dans son atelier depuis 2001 et vous propose son savoir-faire traditionnel en matière de carrosserie et travaux de  peinture pour redonner le galbe et la forme d’origine à votre véhicule tout en respectant les normes constructeurs et les règles de l’art.
        </p>
        <p class="block-about__description">
          Aujourd’hui la carrosserie Europe Auto est spécialisée dans la réparation, la préparation et la restauration de véhicules de prestige, véhicules de sport, véhicules anciens et véhicules de collections toutes marques d’époques variées.
        </p>
      </div>
      <div class="block-about__right">
        <div class="block-about__image">
          <img class="centered-crop-image" src="{{ site.baseurl }}/assets/images/mechanicians.jpg" alt="carrossier">
        </div>
      </div>
    </div>

    <div class="block-team">
      <div class="block-team__titles">
        <h2 class="block-team__title">Notre Équipe</h2>
        <div class="block-team__separator"></div>
        <h3 class="block-team__subtitle">Notre équipe de professionnels expérimentés donnera une nouvelle vie<br>à votre voiture à tout moment.</h3>
      </div>
      <div class="block-team__person-blocks">
        <div class="block-team__person-block">
          <div class="person-block__image">
            <img class="centered-crop-image" src="{{ site.baseurl }}/assets/images/mecano1.jpg" alt="carrossier">
          </div>
          <h4 class="person-block__name">Chris Pargat</h4>
          <h5 class="person-block__job">Mécanicien</h5>
          <p class="person-block__description">Chris a une véritable passion pour les voitures depuis son enfance.</p>
        </div>
        <div class="block-team__person-block">
          <div class="person-block__image">
            <img class="centered-crop-image" src="{{ site.baseurl }}/assets/images/mecano2.jpg" alt="carrossier">
          </div>
          <h4 class="person-block__name">Lucas Jouvier</h4>
          <h5 class="person-block__job">Mécanicien</h5>
          <p class="person-block__description">Lucas a rejoint l'équipe il y a environ 4 ans, mais il apprend vite et il a aidé plus de 500 cas.</p>
        </div>
        <div class="block-team__person-block">
          <div class="person-block__image">
            <img class="centered-crop-image" src="{{ site.baseurl }}/assets/images/mecano3.jpg" alt="carrossier">
          </div>
          <h4 class="person-block__name">Antoine Dumont</h4>
          <h5 class="person-block__job">Mécanicien</h5>
          <p class="person-block__description">Antoine travaille dans le secteur de la réparation depuis de nombreuses années.</p>
        </div>
        <div class="block-team__person-block">
          <div class="person-block__image">
            <img class="centered-crop-image" src="{{ site.baseurl }}/assets/images/mecano4.jpg" alt="carrossier">
          </div>
          <h4 class="person-block__name">Adam Meunier</h4>
          <h5 class="person-block__job">Mécanicien</h5>
          <p class="person-block__description">Adam saura vous conseiller et vous accompagner, et vous serez sans aucun doute satisfait de son travail !</p>
        </div>
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
