<!DOCTYPE html>
<html>

  {% include head.html %}

  {% include nav.html %}

  <body id="body-services">
    <div class="body-services__image">
      <img class="centered-crop-image" src="{{ site.baseurl }}/assets/images/lustrage-2.jpg" alt="">
      <div class="body-services__titles">
        <h2 class="body-services__subtitle">Plus de 30 ans de services de qualité</h2>
        <h1 class="body-services__title">Nos Services</h1>
      </div>
    </div>

    <div class="block-service__intro">
      <p class="block-service__text">
        Dans notre carrosserie, lorsque nous parlons de restauration, nous parlons d’art.
      </p>
      <p class="block-service__text">
        L’emboutissage, le planage, le soudage, l’étamage, l’ajustage la préparation et l’application de peinture toutes techniques confondues, c’est le quotidien du carrossier restaurateur avec l’objectif d’une restauration haut de gamme.
      </p>
    </div>

    <div class="block-service block-service--reverse">
      <div class="block-service__left">
        <div class="block-service__image">
          <img class="centered-crop-image-soft" src="{{ site.baseurl }}/assets/images/restauration-vehicules-anciens.jpg" alt="">
        </div>
      </div>
      <div class="block-service__right">
        <h2 class="block-service__title">Restauration de véhicules anciens et de collections</h2>
        <div class="block-service__separator"></div>
        <p class="block-service__text">
          Nous proposons des services sur mesure en fonction de vos besoins et nous nous adaptons à votre demande sans déroger aux règles de l’art.
        </p>
        <p class="block-service__text">
          La restauration est en général un travail qui nécessite des techniques précises, un travail minutieux pour obtenir un résultat de qualité.
        </p>
      </div>
    </div>

    <div class="block-service">
      <div class="block-service__right">
        <h2 class="block-service__title">Restauration de véhicule de sport et de prestige</h2>
        <div class="block-service__separator"></div>
        <p class="block-service__text">
          En parallèle, depuis des années nous suivons les avancées technologiques, de plus en plus de carbone, d’aluminium, plastique et autres matières apparaissent sur ces véhicules.
        </p>
        <p class="block-service__text">
          Nous adaptons notre matériel ainsi que nos techniques de réparations au fil des années pour que les véhicules de sport et de prestige ne puissent être dénaturés.
        </p>
      </div>
      <div class="block-service__left">
        <div class="block-service__image">
          <img class="centered-crop-image-soft" src="{{ site.baseurl }}/assets/images/restauration-vehicules-prestiges.jpg" alt="">
        </div>
      </div>
    </div>

    <div class="block-service block-service--reverse">
      <div class="block-service__left">
        <div class="block-service__image">
          <img class="centered-crop-image-soft" src="{{ site.baseurl }}/assets/images/reparation-vehicules-traditionnel.jpg" alt="">
        </div>
      </div>
      <div class="block-service__right">
        <h2 class="block-service__title">Réparations de véhicules traditionnels</h2>
        <div class="block-service__separator"></div>
        <p class="block-service__text">
          Un sinistre, un bris de glace, vous avez le libre choix de votre réparateur.
        </p>
        <p class="block-service__text">
          Nos ateliers vous accueillent pour remettre votre véhicule en état suite à un accident et nous garantissons des prestations clés en main grâce à une équipe expérimentée.
        </p>
      </div>
    </div>

    <div class="block-service">
      <div class="block-service__right">
        <h2 class="block-service__title">Restauration ou personnalisation de jantes</h2>
        <div class="block-service__separator"></div>
        <p class="block-service__text">
          Quelques griffures ou alors vous souhaitez personnaliser vos jantes, nous pouvons réaliser vos souhaits tout en vous conseillant au plus juste pour obtenir un résultat de qualité.
        </p>
      </div>
      <div class="block-service__left">
        <div class="block-service__image">
          <img class="centered-crop-image-soft" src="{{ site.baseurl }}/assets/images/restauration-jantes.jpg" alt="">
        </div>
      </div>
    </div>

    <div class="block-service block-service--reverse">
      <div class="block-service__left">
        <div class="block-service__image">
          <img class="centered-crop-image-soft" src="{{ site.baseurl }}/assets/images/peinture-3.jpg" alt="">
        </div>
      </div>
      <div class="block-service__right">
        <h2 class="block-service__title">Peinture</h2>
        <div class="block-service__separator"></div>
        <p class="block-service__text">
          La peinture est le reflet d’un travail de qualité fini. Cette étape est primordiale ; c’est pour cette raison que nous investissons dans des peintures de qualité, des teintes spécifiques pour la personnalisation, la restauration d’une peinture altérée, détériorée.
        </p>
        <p class="block-service__text">
          La tendance des constructeurs est une peinture d’origine mince avec peu de matière. La politique de notre atelier est au contraire de garnir au mieux les éléments pour obtenir un éclat, une profondeur et une brillance incomparable (ou indicible).
        </p>
        <p class="block-service__text">
          En travaillant sur des véhicules d’exceptions, la qualité est primordiale.
        </p>
      </div>
    </div>

    <div class="block-service">
      <div class="block-service__right">
        <h2 class="block-service__title">Personnalisation de votre véhicule</h2>
        <div class="block-service__separator"></div>
        <p class="block-service__text">
          Nous pouvons réaliser : votre décoration personnalisée, des répliques de véhicules historiques. Nous nous adaptons à vos souhaits.
        </p>
      </div>
      <div class="block-service__left">
        <div class="block-service__image">
          <img class="centered-crop-image-soft" src="{{ site.baseurl }}/assets/images/personnalisation-vehicule.jpg" alt="">
        </div>
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
