<!DOCTYPE html>
<html>

  {% include head.html %}

  {% include nav.html %}

  <body id="body-services">
    <div class="body-services__image">
      <img class="centered-crop-image" src="{{ site.baseurl }}/assets/images/background-services.jpg" alt="">
      <div class="body-services__titles">
        <h2 class="body-services__subtitle">Plus de 30 ans de services de qualité</h2>
        <h1 class="body-services__title">Nos Services</h1>
      </div>
    </div>

    <div class="block-service">
      <div class="block-service__left">
        <div class="block-service__image">
          <img class="centered-crop-image" src="{{ site.baseurl }}/assets/images/debosselage.jpg" alt="">
        </div>
      </div>
      <div class="block-service__right">
        <h2 class="block-service__title">Débosselage</h2>
        <div class="block-service__separator"></div>
        <p class="block-service__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
    </div>

    <div class="block-service">
      <div class="block-service__right">
        <h2 class="block-service__title">Polissage</h2>
        <div class="block-service__separator"></div>
        <p class="block-service__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
      <div class="block-service__left">
        <div class="block-service__image">
          <img class="centered-crop-image" src="{{ site.baseurl }}/assets/images/polissage.jpg" alt="">
        </div>
      </div>
    </div>

    <div class="block-service">
      <div class="block-service__left">
        <div class="block-service__image">
          <img class="centered-crop-image" src="{{ site.baseurl }}/assets/images/vitrage.jpg" alt="">
        </div>
      </div>
      <div class="block-service__right">
        <h2 class="block-service__title">Vitrage</h2>
        <div class="block-service__separator"></div>
        <p class="block-service__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
    </div>

    <div class="block-service">
      <div class="block-service__right">
        <h2 class="block-service__title">Climatisation</h2>
        <div class="block-service__separator"></div>
        <p class="block-service__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
      <div class="block-service__left">
        <div class="block-service__image">
          <img class="centered-crop-image" src="{{ site.baseurl }}/assets/images/clim.jpg" alt="">
        </div>
      </div>
    </div>

    <div class="block-service">
      <div class="block-service__left">
        <div class="block-service__image">
          <img class="centered-crop-image" src="{{ site.baseurl }}/assets/images/cuir.jpg" alt="">
        </div>
      </div>
      <div class="block-service__right">
        <h2 class="block-service__title">Sellerie</h2>
        <div class="block-service__separator"></div>
        <p class="block-service__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
    </div>

    <div class="block-service">
      <div class="block-service__right">
        <h2 class="block-service__title">Nettoyage</h2>
        <div class="block-service__separator"></div>
        <p class="block-service__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
      <div class="block-service__left">
        <div class="block-service__image">
          <img class="centered-crop-image" src="{{ site.baseurl }}/assets/images/nettoyage.jpg" alt="">
        </div>
      </div>
    </div>

    <div class="block-service">
      <div class="block-service__left">
        <div class="block-service__image">
          <img class="centered-crop-image" src="{{ site.baseurl }}/assets/images/depannage.jpg" alt="">
        </div>
      </div>
      <div class="block-service__right">
        <h2 class="block-service__title">Dépannage</h2>
        <div class="block-service__separator"></div>
        <p class="block-service__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
    </div>

  </body>

</html>
