.homepage__title {
  color: #ececec;
  font-family: "Brushsci";
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  font-size: 45px;
  text-align: center;
  letter-spacing: 3px;
  font-style: italic;
  text-transform: uppercase;
  position: relative;
  white-space: nowrap;
  left: -50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;

  @include respond-to(phone) {
    display: block;
    font-size: 30px;
    left: -30%;
  }

  span {
    color: #ff8900;
    white-space: nowrap;

    @include respond-to(phone) {
      position: absolute;
      left: -38%;
    }
  }

  br {
    display: none;
    @include respond-to(phone) {
      display: block;
    }
  }
}

#homepage {
  align-items: center;
  background-image: url("../images/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: calc(100%);
  overflow: hidden;
  justify-content: center;
  position: absolute;
  width: 100%;
  flex-direction: column;
  // margin-top: 50px;

  > .centered-content {
    top: 153px;

    @include respond-to(phone) {
      top: 18%;
    }
  }
}

.homepage__text-intro {
  color: rgba(255,255,255,.9);
  position: absolute;
  left: 50px;
  bottom: 60px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: 2px;

  @include respond-to(phone) {
    font-size: 18px;
    line-height: 25px;
    left: 35px;
    bottom: 50px;
  }

  @media screen and (max-width: 374px) {
    font-size: 15px;
    line-height: 25px;
    left: 25px;
    bottom: 30px;
  }

  span {
    color: #ff8900;
    font-size: 40px;
    font-family: 'Brushsci', 'kirnberg', cursive;
    line-height: 50px;
    letter-spacing: 0;
    margin-top: 5px;
    display: block;

    @include respond-to(phone) {
      font-size: 22px;
      line-height: 28px;
    }

    @media screen and (max-width: 374px) {
      font-size: 22px;
      line-height: 28px;
    }
  }
}

#logo__phone {
  display: none;
  width: 200px;
  left: -50%;
  position: relative;
  top: 20px;

  @include respond-to(phone) {
    display: block;
  }

  // @media screen and (max-width: 374px) {
  //   width: 150px;
  // }
}
