.kpis-banner {
  background-image: url(../images/background-pres.jpg);
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 65%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding-top: 60px;

  @include respond-to(phone) {
    flex-wrap: wrap;
    height: 400px;
    padding-bottom: 60px;
  }
}

.kpis-banner__kpi-bubble {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 3px solid rgba(255,255,255,.8);
  border-radius: 50%;
  height: 150px;
  width: 150px;
  margin: 50px;
  flex-shrink: 0;
  background-image: url("../images/cadran-trans.png");
  background-size: contain;

  @include respond-to(phone) {
    height: 115px;
    width: 115px;
    margin: 15px;
  }
}

.kpis-banner__kpi-number {
  font-family: "Open Sans", sans-serif;
  font-size: 35px;
  color: white;
  text-align: center;

  @include respond-to(phone) {
    font-size: 25px;
  }
}

.kpis-banner__kpi-line {
  border-bottom: 2px solid #ff8900;
  margin: 15px;
  width: 40px;

  @include respond-to(phone) {
    width: 30px;
    margin: 10px;
  }
}

.kpis-banner__kpi-text {
  color: rgba(255,255,255,.8);
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  height: 20px;
  text-align: center;
  margin-bottom: 10px;

  @include respond-to(phone) {
    font-size: 10px;
  }
}

.block-about {
  display: flex;
  justify-content: space-between;
  font-family: 'Lato', sans-serif;

  @include respond-to(phone) {
    flex-direction: column;
  }
}

.block-about__left,
.block-about__right {
  width: 50%;
  box-sizing: border-box;

  @include respond-to(phone) {
    width: 100%;
  }
}

.block-about__left {
  padding: 80px 70px 80px 50px;
  max-width: 800px;

  @include respond-to(phone) {
    padding: 60px 35px 60px 15px;
  }
}

.block-about__right {
  @include respond-to(phone) {
    height: 400px;
  }
}

.block-about__image {
  width: 100%;
  height: 100%;
  background-size: cover;
  overflow: hidden;
  position: relative;
  background-image: url(../images/img-pres-2.jpg);
}

.block-about__titles {
  border-left: 3px solid #ff8900;
  padding-left: 20px;
  margin-bottom: 15px;
}

.block-about__title {
  font-weight: 700;
  font-style: normal;
  font-family: 'Lato', sans-serif;
  color: #001d70;
  font-size: 30px;
  line-height: 1.3;
  letter-spacing: 0px;
  margin-bottom: 5px;
}

.block-about__subtitle {
  font-weight: 400;
  font-style: normal;
  font-family: 'Lato', sans-serif;
  color: #868b97;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0px;

  @include respond-to(phone) {
    font-size: 16px;
  }
}

.block-about__description {
  font-weight: 400;
  font-style: normal;
  font-family: 'Lato', sans-serif;
  color: #001d70;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: 0px;
  padding-top: 10px;
  margin-left: 22px;
  text-align: justify;

  @include respond-to(phone) {
    font-size: 15px;
  }
}

// BLOCK TEAM

.block-team {
  display: flex;
  justify-content: center;
  font-family: 'Lato', sans-serif;
  text-align: center;
  align-items: center;
  flex-direction: column;
  background-color: #eaeaea;
  padding: 80px;

  @include respond-to(phone) {
    padding: 60px 35px;
  }
}

.block-team__titles {
  margin-bottom: 70px;

  @include respond-to(phone) {
    margin-bottom: 50px;
  }
}

.block-team__title {
  font-weight: 700;
  font-style: normal;
  font-family: 'Lato', sans-serif;
  color: #001d70;
  font-size: 30px;
  line-height: 1.3;
  letter-spacing: 0px;
}

.block-team__separator {
  width: 100px;
  border-bottom: 3px solid #ff8900;
  margin: 15px auto;
}

.block-team__subtitle {
  font-weight: 400;
  font-style: normal;
  font-family: 'Lato', sans-serif;
  color: #868b97;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0px;

  @include respond-to(phone) {
    font-size: 16px;
  }
}

.block-team__person-blocks {
  display: flex;
  width: 100%;

  @include respond-to(phone) {
    flex-direction: column;
  }
}

.block-team__person-block {
  flex: 1;
  margin: 0 10px;
}

.block-team__person-img {
  width: 100%;
}
